.places {
    display: grid;
    margin: 92px auto 92px;
    color: #FFFFFF;
    gap: 80px;
}

@media screen and (max-width: 1024px) {
    .places {
        margin: 88px auto 90px;
        gap: 73px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        gap: 50px;
        margin: 64px auto 66px;
    }
}