.cover__subtitle {
    margin: 0 auto 245px;
    width: 360px;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        margin: 0 auto 195px;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        margin: 0 auto 115px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        font-family: 'Inter-Regular';
        font-style: normal;
        font-size: 14px;
        line-height: 16px;
        margin: 0 auto 33px;
    }
}