.lead__title {
    margin: auto;
    max-width: 720px;
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 900;
    font-size: 96px;
    font-style: normal;
    line-height: 100px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .lead__title {
        font-size: calc(40px + (56 + 56 * 0.7) * ((100vw - 320px) / 768));
        line-height: calc(44px + (56 + 56 * 0.7) * ((100vw - 320px) / 768));
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}