.intro__text {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-size: 16px;
    line-height: 163%;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .intro__text {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .intro__text {
    max-width: 288px;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-size: 16px;
    line-height: 163%;
    margin: 0 auto 34px;
}}