.places__link {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition-duration: .4s;
}

.places__link:hover {
    opacity: 80%;
    transition-timing-function: ease-in-out;
}

@media screen and (max-width: 320px) {
    .places__link {
        margin-top: 12px;
    }
}