.place {
    max-width: 76.875%;
    display: grid;
    gap: 48px 40px;
    grid-template-columns: 46.74% 49.186%;
    grid-template-rows: repeat(2, auto);
    margin: 0 auto 0;
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 90.625%;
        gap: 48px 32px;
        grid-template-columns: 47.413% 49.137%;
    }
}

@media screen and (max-width: 768px) {
    .place {
        max-width: 93.75%;
        gap: 48px 28px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 320px) {
    .place {
        max-width: 100%;
        grid-template-columns: repeat(1, 320px);
        gap: 0;
    }
}