.footer {
    max-width: 92.5%;
    color: #FFFFFF;
    display: flex;
    margin: 92px auto 0;
    padding-bottom: 24px;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 186px;
        display: grid;
        margin: 64px 0 auto 16px;
    }
}