.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
    margin: 0;
}

@media screen and (max-width: 470px) {
    .place__website {
        width: 90%;
        margin: 32px auto 32px;
        gap: 0;
    }
}