.places__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
    width: 456px;

    margin: 0;
}

@media screen and (max-width: 320px) {
    .places__website {
        max-width: 288px;
   
        margin: 32px auto 32px;
        gap: 0;
    }
}